{% extends "base.html" %}
{% load static %}
{% block content %}
<title>History</title>
<link rel="stylesheet" href="{% static 'history.css' %}">
<div class="history_main">
    <p class="p_title">History</p>
    <div class="blank_area"></div>
    <div class="his_block">
        <p class="calender">2017 - 2022</p>
        <p class="context">苫小牧工業高等専門学校創造工学科情報科学・工学系にて情報工学について学ぶ</p>
    </div>
    <div class="his_block">
        <p class="calender">2022 - 2024</p>
        <p class="context">岐阜大学工学部電気電子・情報工学科情報コースにて情報科学について学ぶ</p>
    </div>
    <div class="his_block">
        <p class="calender">2022 - 2024</p>
        <p class="context">株式会社dragon agencyにてインターンとしてWebシステム開発業務に従事</p>
    </div>
    <div class="his_block">
        <p class="calender">2024 - </p>
        <p class="context">筑波大学大学院理工情報生命学術院システム情報工学研究群情報理工学位プログラムにて研究活動を行う</p>
    </div>
    <div class="blank_area"></div>
</div>
{% endblock %}