.history_main{
    height: 100%;
}
.p_title{
    color: whitesmoke;
    font-size: 8vh;
    text-align: center;
    padding-top: 6vh;
}
.his_block{
    padding-top: 5vh;
    width: 80%;
    margin: auto;
}
.calender{
    color: whitesmoke;
    font-size: 2.5vh;
    text-align: center;
}
.context{
    color: whitesmoke;
    font-size: 3vh;
    text-align: center;
}
.blank_area{
    height: 5vh;
}